body {
  margin: 0;
  border: 0;
  background: black;
}
/* Styles for navigation bar */
header {
  margin: 0;
  background: white;
}
.navbar {
  width: 100%;
  overflow: hidden;
  background-color: white;
  color: black;
}
.navbar a {
  width: 100px;
  float: left;
  text-align: center;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navbar a:hover {
  color: rgb(68, 0, 255);
}
.navbarcontainer {
  padding-left: 1400px;
  padding-top: 40px;
}
/* Styles for Home page */
.row {
  background: orange;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 80px;
}
.col-2 p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 25px;
}
.col-2 img {
  display: block;
  margin: 0 auto;
}
.btn {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  display: inline-block;
  justify-content: center;
  background: black;
  color: white;
  padding: 10px 30px;
  margin: 30px 400px;
  border-radius: 30px;
}
.btn:hover {
  color: lightgrey;
}
